div.mainPopularitem{
    width: 100%;
    height: 403px;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 20px;
    box-sizing: border-box;
   
}
div.mainPopularitem>div.Popularitemtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.mainPopularitem>div.Popularitemtitle>p{
    font-family: iranyekan;
    font-weight: bolder;
    font-size:20px;
    flex-grow: 1;
    text-align: center;

}
div.mainPopularitem>div.Popularitemsection{
height: inherit;
    display: flex;
flex-flow: column wrap;
padding-top: 20px;
    margin-top: 10px;

}
div.mainPopularitem>div.Popularitemtitle>a{
    text-decoration: none;
    float: left;
    font-weight: bold;
    font-family: iranyekan;
    font-size: 15px;
    color: cornflowerblue;
}
div.mainPopularitem>div.Popularitemsection>div.Popularitem{
width: 290px;
height: 102px;
display: flex;
flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;

}
div.mainPopularitem>div.Popularitemsection>div.Popularitem>div.image{
width: 30%;
height: inherit;


}
div.mainPopularitem>div.Popularitemsection>div.Popularitem>div.image>img{
width: 84px;
height: 84px;
}
div.mainPopularitem>div.Popularitemsection>div.Popularitem>span{
color: #19bfd3;
margin: 0px 0px 0px 12px;
font-size: 26px;
font-family: iranyekan;
font-weight: bolder;
}
div.mainPopularitem>div.Popularitemsection>div.Popularitem>p{
    font-family: iranyekan;
  font-size: 13px;
}
.border-top{
    border-top: 1px solid #f0f0f1;
    width: 25%;
    height: 2px;
}